---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle: string = "About Me";
 
/* the type Identity is only for Typscript if its just plain javascript you don't need the 
 identity part or the const identity:Identity = {} part it would just be
 const identity = {}*/

type Identity ={
    firstName: string;
    country: string;
    occupation: string;
    hobbies: string[];
};

const identity: Identity = {
    firstName: "Greg",
    country: "USA",
    occupation: "Technical Writer",
    hobbies: ["photography", "Birdwatching", "Baseball"],
    };

const skills: string[] = ["HTML", "CSS", "JavaScript", "React", "Astro","Writing Docs"];

const happy: boolean = true;
const finished: boolean = true;
const goal: number = 3;

const skillColor: string = "navy";
const fontWeight: string = "Bold";
const textCase: string = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <h2> ... and my new Astro site!</h2>

            <p> I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself! </p>

            <p>This site will udate as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

            <p>Here are a few facts about me:</p>
            <ul>
                <li>My name is {identity.firstName}.</li>
                <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
                {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[2]}</li>
                }
            </ul>
            <p>My skills are:</p>
            <ul>
                {skills.map((skill) => <li class="skill">{skill}</li>)}
            </ul>

            {happy && <p>I am happy to be learning Astro!</p>}
            
            {finished && <p>I finished this tutorial!</p>}

            {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p> My goal is not 3 days. </p>}

    <style is:global define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                color: rgb(0, 99, 248);
                font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
                
            }
    </style>
</BaseLayout>
